body {
  background: burlywood;
}
.container {
  display: grid;
  grid-template: 100px 1fr 150px / 200px 1fr;
  grid-gap: 10px;
  height: 100vh;
  /* Grid area : header left content footer*/
  grid-template-areas: "header header" "left content" "footer footer";
}
.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}
.item:nth-of-type(4) {
  background-color: rgb(10, 10, 70);
  overflow: auto;
  display: grid;
  grid-template: 300px 100px 100px / 25% 200px 25%;
}

.header{
    grid-area: header;
}
.left{
    grid-area: left;
}
.content{
    grid-area: content;
}
.footer{
    grid-area: footer;
}