body{
    background: burlywood;
}
.container{
    display: grid;
    /* Fraction..
    1 fr is a part of screen  */

    grid-template: 300px 100px 100px / repeat(4,minmax(200px, 1fr));
    grid-gap: 30px 100px;
}
.item{
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
}
.item:nth-of-type(4){
    background-color: blue;
    overflow: auto;
    /* display: subgrid; soon*/
    /* Subgrid inside item */
    display: grid;
    grid-template: 300px 100px 100px / 25% 200px 25%;
}